@model BackEndAssignment.Models.Questions
@{
    ViewBag.Title = "Quetion";
    var question = Model.items[0];
    var last_activity_date = new DateTime(1970, 1, 1, 0, 0, 0, 0).AddSeconds(question.last_activity_date);
    var creation_date = new DateTime(1970, 1, 1, 0, 0, 0, 0).AddSeconds(question.creation_date);
}
<a href="~/Home/" class="btn btn-primary" style="margin:50px;margin-bottom:0 !important">back to questions</a>

<h1>@question.title</h1>
<p>
    <span>Asked @creation_date</span>&ensp;
    <span>Active @last_activity_date</span>&ensp;
    <span>Viewed @question.view_count times</span>
</p>

